img {
    width: 200px;
    height: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    /* border: 1px solid #dddddd; */
    text-align: center;
    padding: 8px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

div {
    margin-top: 20px;
    text-align: center;    
}

input {
    height: 50px;
    width: 150px;
    background-color: green;
    font-size: 18px;
    font-weight: bold;
    color: white;
}